<!DOCTYPE html>
<html lang="en" ng-app="task1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <link rel="stylesheet" href="bootstrap.css">
   <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="wed1.js"></script>
</head>
<body>
    <form action="#" method="GET" name="testForm" novalidate class="formgroup">
        <div>
<input type="text" class="form1" name="name"  id="name" ng-model="test.name" placeholder="name" ng-required="true">
<small ng-show="testForm.name $touched && testForm."></small>
</div>
<div>
        <input type="email" class="form1" name="email"  id="email" ng-model="test.email" placeholder="email" ng-required="true">
        </div>
        <div>
<textarea
    name="textarea"  id="textarea" ng-model="test.textarea" placeholder="area" ng-required="true">

</textarea>             </div>
    </form>
    
            </body>
            </html>
        